<div class="container__big-card">
  <a href="#" target="_blank" rel="noopener noreferrer">
    <div class="big-card__picture">
      <img
        src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        alt=""
      />
    </div>
    <div class="big-card__title">
      <p> February 11, 2022</p>
      <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
    </div>
    <div class="big-card__description">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quos!
        Pariatur labore doloribus, incidunt ab officia aut dolores, numquam
        reprehenderit perferendis eaque, voluptas mollitia reiciendis! Modi
        possimus nobis voluptatibus enim.
      </p>
    </div>
  </a>
</div>
