<div class="container__home">
  <app-menu-bar></app-menu-bar>
  <app-menu-title></app-menu-title>
  <div class="articles">
    <div class="articles__main">
      <app-big-card
        photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit."
        cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quos!
        Pariatur labore doloribus, incidunt ab officia aut dolores, numquam
        reprehenderit perferendis eaque, voluptas mollitia reiciendis! Modi
        possimus nobis voluptatibus enim."
      ></app-big-card>
    </div>

    <div class="articles__others">
      <app-small-card
        photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        cardTitle="Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit."
      ></app-small-card>
      <hr />
      <app-small-card
        photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        cardTitle="Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit."
      ></app-small-card>
      <hr />
      <app-small-card
        photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        cardTitle="Lorem ipsum dolor, sit amet consectetur adipisicing elit.Lorem ipsum dolor, sit amet consectetur adipisicing elit."
      ></app-small-card>
      <hr />
    </div>
  </div>
</div>
