.container__home {
  display: flex;
  flex-direction: column;
}
.container__home hr {
  border-color: gray;
}
.articles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.articles__main {
  width: 60%;
}

.articles__others {
  width: 60%;
  margin: 5px;
}
